* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    
}

.clear {
    clear: both;
}

/* start common */

/* end common */

.main {
    /* width: 100%;
    height: 100vh; */
}

/* Start header */

.header {
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__nav {
    display: inline-block;
}
.header__nav > li {
    display: inline-block;
    
}


.header__nav  li {
    position: relative;
} 

.header__nav > li > a {
    text-transform: uppercase;
} 

.header__nav  li  a {
    line-height: 46px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 0 24px;
    display: inline-block;
    
}

.header__nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

.header__nav .arrow-down {
    font-size: 12px;
}

.header__nav .nav__subnav  {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header__nav > li:hover .nav__subnav {
    display: block;
}

.header__nav .nav__subnav a {
    color: #000;
    line-height: 38px;
    padding: 0 16px;
}

.header__nav .nav__subnav li:hover {
    background-color: #ccc;
}

.header .header__btn-search {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 46px;
    padding: 0px 24px;
}

.header .header__btn-search .ti-search {
    /* font-size: 22px; */
    line-height: 46px;
}
.header .header__btn-search:hover {
    background-color: #f44336;
    cursor: pointer;
}

/* End header */

/* start slider */
.slider {
    /* padding-top: 50% để chiều cao luôn bằng nửa chiều rộng */
    padding-top: 50%;
    margin-top: 46px;
    background:  url('/assets/img/sliders/slider1.jpg')  top center / cover no-repeat ;
    position: relative;
    /* margin: 46px 0 0; */
}

.slider-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 32px 0;
}

.slider-text__head {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 400px;
}

/* End slider */

/* start content */

.content {
    
}

.content-section {
    padding: 64px 16px;
    width: 800px;
    color: #000;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}


.content-section .section-heading{
    letter-spacing: 4px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center; 
}

.section-sub-heading {
    margin: 15px 0px;
    font-style: italic;
    text-align: center; 
    opacity: 0.5;
}

/*   about content */
.content-about__detail {
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.4;
}

.content-about__member {
    padding: 32px 0px;
   text-align: center;
}

.content-about__member .member {
    /* display: inline-block; */
    float: left;
    width: 33.33333%;
}

.content-about__member .member-avatar {
    width: 154px;
}

/* ---------- content tour---------- */
.content-tour {
    background-color: #000;
    
}

.content-tour .content-section {
    color: #fff;
}

.content-tour .ticket-status {
    background-color: #fff;
    color: #757575;
    border: 1px solid #ccc;
    list-style-type: none;
    margin-top: 40px;
}

.content-tour .ticket-status .ticket-month {
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
}

.content-tour .ticket-status .ticket-sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
}

.content-tour .ticket-status .ticket-month-final {
    border: unset;
}

.content-tour .ticket-status .ticket-number {
    float: right;
    margin-right: 16px;
    background-color: #000;
    border-radius: 50%;
    padding: 3px 8px;
}

.content-tour .tour-address {
    padding: 32px 0px;
    margin: 0px -8px;
}

.tour-address .address-detail {
    width: 33.333333%;
    
    padding: 0 8px;
    margin-bottom: 16px;
    float: left;
}

.tour-address .address-img {
    width: 100%;
    display: block;
}

.tour-address .address-img:hover {
    opacity: 0.6;
}

.tour-address .address-content {
    background-color: #fff;
    color: #000;
    padding: 0 16px;
}

.address-heading {
    padding: 15px 0;
    font-weight: 600;

}

.address-time {
    opacity: 0.6;
}

.address-desc {
    padding: 15px 0;
    line-height: 1.4;
}

.address-buy-btn {
    text-decoration: none;
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    margin-bottom: 16px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    border: unset;
}

.address-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}
/* end content tour */


/* start content contact */

.contact-body {
    padding: 32px 0;
    display: flex;
    
    justify-content: space-between;
}

.contact-left {
    
}

.contact-desc {
    font-size: 18px;
    line-height: 1.5;
}

.contact-desc i {
   padding-right: 12px;
   font-weight: 1000;
}



.contact-right {
    /* display: flex;
    flex-direction: column; */
    /* position: relative; */
}

.contact-right input {
    padding: 10px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-name-email {
    margin-bottom: 8px;
    display: flex;
    column-gap: 16px;
}

.input-message {
    width: 100%;
}

.contact-right .submit {
    margin: 16px 0;
    padding: 12px 16px;
    float: right;
    color: #fff;
    background-color: #000;
    /* width: 72px; */
    border: unset;
    cursor: pointer;

}

.contact-right .submit:hover {
    background-color: #ccc;
    color: #000;
}



/* end content contact */

.content-map {
    /* padding: 0 16px; */
}

.map-img {
    width: 100%;
    height: 100%;
}

/* start footer */
.footer {
    padding: 64px 16px;
    text-align: center;
}

.footer-social i {
    color: #000;
    padding: 4px 0px;
    font-size: 18px;
    line-height: 1.5;
}

.footer-license {
    margin: 15px 0px;
    line-height: 1.5;
    color: #000;
}

/* start modal buy ticket */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display: none;
}

.open-modal {
    display: flex;
}

.hidden-modal {
    display: none;
}

.modal-container {
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    background-color: #fff;
    position: relative;
    animation: modalTicketShow ease 0.5s;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 16px;
    cursor: pointer;
}

.icon-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal-header {
    padding: 48px 16px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px
}

.modal-header  .ti-bag {
   margin-right: 16px;
   font-size: 24px;
}

.modal-content {
    padding: 0px 16px;
    color: #000;
}

.modal-content .label {
    margin: 15px 0;
    line-height: 1.5;
}

.email-ticket {

}

.modal-content i {
    font-weight: 800;
}

.modal-input {
    padding: 10px 8px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    font-size: 15px;
}

.modal-content .btn-pay {
    width: 100%;
    padding: 18px 16px ;
    margin: 16px 0;
    background-color: #009688;
    color: #fff;
    border: unset;
    cursor: pointer;
}

.modal-content .btn-pay:hover {
    background-color: #ccc;
}

.btn-pay .ti-check {
    font-weight: 600;
}


.modal-footer {
    padding: 0 16px;
    margin: 15px 0;
    color: #000;
    
    float: right;
}

.modal-footer a {
    cursor: pointer;
    color: #2196F3;
}

/* Cho modal-ticket di chuyển từ trên xuống dưới khi mở form */
@keyframes modalTicketShow {
    from {
        opacity: 0;
        transform: translateY(-110px);

    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

 /* end modal-ticket  */
