/* pc */
@media  (min-width: 1024px) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {

}

/* Mobile */

@media (max-width: 740px) {

    

    .header {
        overflow: hidden;
    }
    

    .header-menu {
        display: block;
    }

    .header-menu li:first-child {
        display: inline-block;
    }

    .header-menu  > li {
        display: block;
    }

    .header-menu > li > a {
        display: block;
    }

    .header .sub-menu {
        position: initial;
        background-color: #333;
    }

    .header .sub-menu a {
       
        padding: 12px 20px;
        color: #fff;
    }

    .icon-menu {
       display: block;
       
    }

    .header-search {
        display: none;
    } 

    .list-member .member {
        width: 100%;
    }

    .list-member .member img {
        width: 60%;
        height: auto;
    }

    .content-tour .list-address .address {
        width: 100%;
    }

    .address .address-describe .btn-buyTicket {
        width: 100%;
    }

    .content-contact .contact-body {
        flex-direction: column;
    }

    .content-contact .contact-body .contact-left {
        width: 100%;
    }

    .content-contact .contact-body .contact-right {
        width: 100%;
    }

    .contact-right .name-email {
        flex-direction: column;
        row-gap: 8px;
        margin-bottom: 8px;
    }

    .contact-right .name-email .input-name {
        width: 100%;
    }

    .contact-right .submit-form {
        width: 100%;
    }
    
}
