* {
   margin: 0;
   padding: 0;
   font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
}

/* css common */

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.clear {
    clear: both;
}

.clear-float::after {
    content: "";
    clear: both;
    display: block;
}
/* end css common */

.container {

}

/* Start headeer */

.header {
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

.header-menu {
    display: inline-block;
}

.header-menu  > li {
    display: inline;
    position: relative;
    
}


.header-menu  > li > a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    text-transform: uppercase;
    display: inline-block;
}

.header-menu  > li:hover > a{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.header-menu .more-menu .ti-angle-down {
    text-align: center;
    font-size: 12px;
}

.header .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 15px);
    background-color: #fff;
    min-width: 160px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
}

.header .more-menu:hover .sub-menu{
    display: block;
}

.header .sub-menu li {
    list-style-type: none;
    /* padding: 8px 16px; */
}

.header .sub-menu a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 8px 16px;   
}

.header .sub-menu a:hover {
    background-color: #ccc;
}

.icon-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.icon-menu,
.header-search {
    float: right;
    padding: 12px 24px;
    text-align: center;
    
}

.header-search:hover {
    background-color: red;
    cursor: pointer;
}

.icon-menu,
.header-search .ti-search {
    color: #fff;
    font-weight: 600;
}

.header .icon-menu:hover {
    background-color: #ccc;
}

.header .icon-menu:hover .ti-menu {
    color: #000;
}
/* end header */

/* start slider */
.slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

.slider-title {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 32px 16px; 
}

.slider-title h2 {
    margin: 10px 0;
    font-size: 24px;
}

.slider p {
    margin: 15px 0;
}
/* end slider */

/* start content */
.content {
    
}

.content-section {
    width: 800px;
    /* width: 100% để đáp ứng responsive tablet with 768px */
    width: 100%;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-header h2{
    font-size: 30px;
    letter-spacing: 4px;
}

.section-sologan p{
    font-style: italic;
    opacity: 0.5;
    margin: 15px 0;
}


/* start content-about */
.content-about {
   
}

.content-about .describe {
    text-align: justify;
    margin: 15px 0;
}

.list-member {
    padding: 32px 0;
}



.list-member .member {
    float: left;
    width: 33.333333%;
}

.list-member .member p {
    margin: 15px 0;
}

.list-member .member img {
    width: 154px;
    height: 154px;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* end content-about */

/* start content-tour */
.content-tour {
    background-color: #000;
}

.content-tour .content-section {
    color: #fff;
}

.tour-ticket {

}

.tour-ticket .month-ticket {
    padding: 8px 16px;
    text-align: left;
    background-color: #fff;
    color: #000;
    border-bottom: 1px #ddd solid;
    color: #757575;
}



.tour-ticket .month-ticket .ticket-status {
    background-color: red;
    padding: 3px 8px;
    margin-left: 16px;
    color: #fff;
    /* border-radius: 4px; */
}

.tour-ticket .month-ticket:last-child .ticket-status {
    float: right;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #000;
    padding: 0 8px;
}

.content-tour .list-address {
    padding: 32px 0;
    margin: 0 -8px;
    color: #000;
}

.content-tour .list-address .address {
    padding: 0 8px;
    margin-bottom: 16px;
    width: 33.333333%;
    float: left;
}

.content-tour .address img {
    width: 100%;
    display: block;
}

.content-tour .address .address-describe {
    background-color: #fff;
    padding: 15px 15px 16px;
    text-align: left;
    /* margin-top: -21px; */
}

.address .address-describe .describe-item {
    margin: 15px 0;
}

.address .address-describe .city {
    font-weight: 700;
}

.address .address-describe .tour-time {
    opacity: 0.6;
}

.address .address-describe .btn-buyTicket {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    border: unset;
}

.address .address-describe .btn-buyTicket:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}
/* end tour */

/* start contact */

.content-contact .contact-body {
    
    padding: 32px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-contact .contact-body .contact-left {
    margin-bottom: 16px;
    width: 50%;
}

.contact-left .contact-detail {
    text-align: left;
    font-size: 18px;
}

.contact-body .contact-left i {
    font-size: 18px;
    padding-right: 12px;
    font-weight: 800;
}



.content-contact .contact-body .contact-right {
    width: 50%;
}

.contact-right input {
    padding: 8px;
    border: 1px solid #ccc;
}

.contact-right .name-email {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
    
}

.contact-right .name-email .input-name {
    width: 50%;
}

.contact-right .contact-message {
    width: 100%;
}

.contact-right .submit-form {
    margin: 16px 0;
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    border: unset;
    
    float: right;
}

.contact-right .submit-form:hover {
    background-color: #ccc;
    color: #000;
    cursor:  pointer;
}

/* end contact */

/* map */
.content-map .img-map {
    width: 100%;
    /* opacity: 0.8; */
    filter: grayscale(50%);
}
/*-------------- end content ----------------*/



.footer {
   padding: 64px 16px; 
   text-align: center;
   
}

.icon-social {
    letter-spacing: 2px;
}

.icon-social .icon-item {
    font-size: 20px;
    width: 20px;
    display: inline-block;
    
}

.footer-license {
    margin: 15px 0;

}

.footer-license a:hover {
    cursor: pointer;
}


/* start form ticket */
.form-cotainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.open-form-ticket {
    display: flex;
}

.form-ticket {
    
    width: 900px;
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalTicketShow ease 0.5s;
}

.form-ticket .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 16px;
    color: #fff;
}

.form-ticket .icon-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.form-ticket .form-header {
    color: #fff;
    background-color: #009688;
    padding: 32px 16px;
    text-align: center;
}

.form-ticket .form-header h2 {
    letter-spacing: 4px;
    font-size: 30px;
}

.form-ticket .form-header .ti-bag {
    font-size: 26px;
    font-weight: 600;
}

.form-ticket .form-body {
    padding: 0 16px;
}

.form-ticket .form-body p {
    margin: 15px 0;

}

.form-body p .icon {
    font-weight: 800;
}

.form-ticket .form-body input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.form-ticket .form-body .btn-pay {
    padding: 16px;
    margin: 16px 0;
    background-color:  #009688;
    width: 100%;
    border: unset;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}

.form-ticket .form-body .btn-pay:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.form-body .btn-pay .ti-check {
    font-size: 12px;
}

.form-ticket .form-footer {
    margin: 15px 0 32px;
    padding: 0 16px;
    float: right;
}

.form-ticket .form-footer a {
    cursor: pointer;
    color: #2196F3;
}

@keyframes modalTicketShow {
    from {
        opacity: 0;
        transform: translateY(-110px);

    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* <!-- end form ticket-->  */

